@tailwind base;
@tailwind components;
@tailwind utilities;


.collapsed-content {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    animation: dropdown 0.3s ease-in-out;
    /*animation-delay: 1000ms;*/
}

.para-style {
    color: gray;
    font-size: 8px;
    padding-left: 5px;
}

.button-style {
    font-size: 9px;
    color: black;
    background-color: white;
    padding: 5px;
    transition: background-color 0.1s;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

.button-style:hover {
    background-color: lightgray;
}

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}